.header{
    display:flex;
    height:60px;
    align-items: center;
    background-color:#131921;
    position: sticky;
    top:0;
    z-index:100;
    &__nav{
        display:flex;
        justify-content: space-evenly;
        padding:5px;
    }
    &__logo{
        width:100px;
        height:auto;
        object-fit: contain;
        margin: 0 20px;
        margin-top: 18px;
    }
    &__search{
        display:flex;
        flex:1;
        align-items: center;
        border-radius:24px;
    }
    &__searchInput{
        height:12px;
        padding:10px;
        border:none;
        width:100%;
    }
    &__searchIcon{
        padding:5px;
        height:22px!important;
        background-color:#cd9042;
    }
    &__option{
        display:flex;
        flex-direction: column;
        margin-left:10px;
        margin-right:10px;
        color:#fff;
    }
    &__optionLineOne{
        font-size:10px;
    }
    &__optionLineTwo{
        font-size:13px;
        font-weight:800;
    }
    &__optionBasket{
        display:flex;
        align-items: center;
        color:#fff;
    }
    &__basketCount{
        margin-left:10px;
        margin-right:10px;
    }
}
